Repository digitalservicebund/ris-ui: changes, and which lefthook commands are due for each by the changed paths.
All: lint-frontend, typecheck-frontend

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: pnpm dlx commitlint --edit

pre-commit:
  parallel: true
  commands:
    secrets-audit:
      run: |
        talisman --githook pre-commit ||
        (echo "Verify the content and fix it with: talisman --githook pre-commit --interactive"; exit 1)

    check-format-frontend:
      run: pnpm run --silent prettier:fix {staged_files} && git add {staged_files}

    lint-frontend:
      glob: "*.{ts,js,vue}"
      run: pnpm run --silent eslint:fix {staged_files} && git add {staged_files}

    typecheck-frontend:
      glob: "*.{ts,vue}"
      run: pnpm run --silent typecheck && git add {staged_files}

post-commit:
  commands:
    secrets-checksum-test:
      tags: security
      skip:
        - rebase
      fail_text: |
        This commit has touched files which are known to include false positives of the secret scanner.
        It does not mean you have introduced new secrets, but these are "old" reports.
        But due to the file content change, the checksum Talisman is using for the verification has changed too.
        Please double check the reported file(s) and update their checksums in the `.talismanrc` file.
        Afterwards, stage the file and amend this commit which was just created with `git commit --amend --no-edit`.
      run: |
        local_reference=$(git rev-parse --symbolic-full-name HEAD)
        local_object_name=$(git rev-parse HEAD)
        # Strong assumption that we run after the commit has been created (not before)!
        remote_reference=$(git branch --format="%(upstream)" --list $(git rev-parse --abbrev-ref HEAD))
        remote_object_name=$(git rev-parse $remote_reference)

        echo $local_reference \
          $local_object_name \
          ${remote_reference:-0000000000000000000000000000000000000000} \
          ${remote_object_name:-0000000000000000000000000000000000000000} \
          | talisman --githook pre-push

pre-push:
  parallel: true
  commands:
    licenses-audit-frontend:
      root: frontend/
      run: pnpm run audit:licenses > /dev/null;

    secrets-audit:
      run: |
        local_reference=$(git rev-parse --symbolic-full-name HEAD)
        local_object_name=$(git rev-parse HEAD)
        # Strong assumption that we run after the commit has been created (not before)!
        remote_reference=$(git branch --format="%(upstream)" --list $(git rev-parse --abbrev-ref HEAD))
        remote_object_name=$(git rev-parse $remote_reference)

        echo $local_reference \
          $local_object_name \
          ${remote_reference:-0000000000000000000000000000000000000000} \
          ${remote_object_name:-0000000000000000000000000000000000000000} \
          | talisman --githook pre-push

    check-pipeline-status:
      only:
        - ref: main
      run: |
        which gh 2>&1 >/dev/null || exit 0

        conclusion="$(
          gh run list --branch main --workflow pipeline.yml --json conclusion,status \
          --jq '[.[] | select(.status=="completed")][0].conclusion' \
        )"

        if [[ "$conclusion" != "success" ]]; then
          echo "The last completed pipeline run has failed!"
          echo "If you intend to fix the pipeline use '--no-verify', BUT ONLY IF all other hooks are okay."
          exit 1
        fi

feat(typography): always round line height to nearest even number
  src/tailwind/global.css
Due: none

feat(typography): always round line height to nearest even number (#536)
  src/tailwind/global.css
Due: none

chore: use stable semantic-semantic release version
  .github/workflows/release.yml
Due: none

chore: fix CVEs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: use stable semantic-release version (#541)
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Notes added by 'git notes add'
  a4579df1c98cbeabe783de9065e138826b2cc1c3
Due: none

fix: revert accidental version changes
  package.json
Due: none

chore: fix CVE
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: fix CVE (#550)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs: update storybook title
  .storybook/manager.js
Due: lint-frontend

docs: sidebar naming and ordering
  .storybook/main.ts
  .storybook/preview.ts
Due: lint-frontend, typecheck-frontend

docs: add introductions to styleguide, colors and typo
  src/startseite.mdx
  src/tailwind/colors.stories.ts
  src/tailwind/typography.stories.ts
Due: lint-frontend, typecheck-frontend

docs: capitalize component names
  src/primevue/breadcrumb/breadcrumb.stories.ts
  src/primevue/button/button.stories.ts
  src/primevue/checkbox/checkbox.stories.ts
  src/primevue/chip/chip.stories.ts
  src/primevue/confirmDialog/confirmDialog.stories.ts
  src/primevue/dataTable/dataTable.stories.ts
  src/primevue/dialog/dialog.stories.ts
  src/primevue/drawer/drawer.stories.ts
  src/primevue/fileUpload/fileUpload.stories.ts
  src/primevue/inputGroup/inputGroup.stories.ts
  src/primevue/inputMask/inputMask.stories.ts
  src/primevue/inputText/inputText.stories.ts
  src/primevue/menu/menu.stories.ts
  src/primevue/message/message.stories.ts
  src/primevue/multiSelect/multiSelect.stories.ts
  src/primevue/panelMenu/panelMenu.stories.ts
  src/primevue/password/password.stories.ts
  src/primevue/progressSpinner/progressSpinner.stories.ts
  src/primevue/radioButton/radioButton.stories.ts
  src/primevue/select/select.stories.ts
  src/primevue/splitter/splitter.stories.ts
  src/primevue/tabs/tabs.stories.ts
  src/primevue/textarea/textarea.stories.ts
  src/primevue/toast/toast.stories.ts
  src/primevue/tooltip/tooltip.stories.ts
  src/primevue/tree/tree.stories.ts
Due: lint-frontend, typecheck-frontend

docs: reorganize sidebar, add introductions (#564)
  .storybook/main.ts
  .storybook/manager.js
  .storybook/preview.ts
  src/primevue/breadcrumb/breadcrumb.stories.ts
  src/primevue/button/button.stories.ts
  src/primevue/checkbox/checkbox.stories.ts
  src/primevue/chip/chip.stories.ts
  src/primevue/confirmDialog/confirmDialog.stories.ts
  src/primevue/dataTable/dataTable.stories.ts
  src/primevue/dialog/dialog.stories.ts
  src/primevue/drawer/drawer.stories.ts
  src/primevue/fileUpload/fileUpload.stories.ts
  src/primevue/inputGroup/inputGroup.stories.ts
  src/primevue/inputMask/inputMask.stories.ts
  src/primevue/inputText/inputText.stories.ts
  src/primevue/menu/menu.stories.ts
  src/primevue/message/message.stories.ts
  src/primevue/multiSelect/multiSelect.stories.ts
  src/primevue/panelMenu/panelMenu.stories.ts
  src/primevue/password/password.stories.ts
  src/primevue/progressSpinner/progressSpinner.stories.ts
  src/primevue/radioButton/radioButton.stories.ts
  src/primevue/select/select.stories.ts
  src/primevue/splitter/splitter.stories.ts
  src/primevue/tabs/tabs.stories.ts
  src/primevue/textarea/textarea.stories.ts
  src/primevue/toast/toast.stories.ts
  src/primevue/tooltip/tooltip.stories.ts
  src/primevue/tree/tree.stories.ts
  src/startseite.mdx
  src/tailwind/colors.stories.ts
  src/tailwind/typography.stories.ts
Due: lint-frontend, typecheck-frontend

docs: insert logo
  .storybook/logo.svg
  .storybook/manager.js
Due: lint-frontend

docs: insert logo (#565)
  .storybook/logo.svg
  .storybook/manager.js
Due: lint-frontend

docs: update README.md
  README.md
Due: none

docs: update README.md (#568)
  README.md
Due: none
