Repository digitalservicebund/ris-ui: changes, and which lefthook commands are due for each by the changed paths.
All: lint-frontend, typecheck-frontend

lint-frontend:
  run: pnpm run --silent eslint:fix {staged_files} && git add {staged_files}

typecheck-frontend:
  run: pnpm run --silent typecheck && git add {staged_files}

fix(drawer): align shadow colors with design spec (#463)
  src/primevue/drawer/drawer.ts
  src/tailwind/components-extra/drawer.css
Due: lint-frontend, typecheck-frontend

Notes added by 'git notes add'
  d8b97e61bc95a4cf61d59a5d6993401d3d5c5074
Due: none

fix(drawer): force hiding drawer overlay on mobile
  src/primevue/drawer/drawer.ts
Due: lint-frontend, typecheck-frontend

fix(drawer): force hiding drawer overlay on mobile (#470)
  src/primevue/drawer/drawer.ts
Due: lint-frontend, typecheck-frontend

Notes added by 'git notes add'
  2e16464929b69b614eaff80ddf3ab096ed52dcfd
Due: none

feat(breadcrumb): adjust to match updated designs
  src/primevue/breadcrumb/breadcrumb.stories.ts
  src/primevue/breadcrumb/breadcrumb.ts
Due: lint-frontend, typecheck-frontend

feat(breadcrumb): adjust to match updated designs (#471)
  src/primevue/breadcrumb/breadcrumb.stories.ts
  src/primevue/breadcrumb/breadcrumb.ts
Due: lint-frontend, typecheck-frontend

Notes added by 'git notes add'
  87cced3469042bb650a14ba55647f6c02c0e87a7
Due: none

feat(breadcrumb): move more application-level styles to RIS UI
  src/primevue/breadcrumb/breadcrumb.stories.ts
  src/primevue/breadcrumb/breadcrumb.ts
Due: lint-frontend, typecheck-frontend

feat(breadcrumb): move more application-level styles to RIS UI (#472)
  src/primevue/breadcrumb/breadcrumb.stories.ts
  src/primevue/breadcrumb/breadcrumb.ts
Due: lint-frontend, typecheck-frontend

Notes added by 'git notes add'
  2e07fe245f750f7e854bec895dfb2bc224c0a0df
Due: none

chore: bump PNPM version to 11
  .github/actions/setup-project/action.yml
  package.json
  pnpm-workspace.yaml
  public/mockServiceWorker.js
Due: lint-frontend

chore: bump PNPM version to 11 (#474)
  .github/actions/setup-project/action.yml
  package.json
  pnpm-workspace.yaml
  public/mockServiceWorker.js
Due: lint-frontend

feat(button): implement warn/skip link variant
  src/primevue/button/button.stories.ts
  src/primevue/button/button.ts
Due: lint-frontend, typecheck-frontend

feat(button): implement warn/skip link variant (#475)
  src/primevue/button/button.stories.ts
  src/primevue/button/button.ts
Due: lint-frontend, typecheck-frontend

chore(pipeline): add minimal required permissions
  .github/workflows/deploy-branch-storybook.yml
  .github/workflows/pipeline.yml
  .github/workflows/release.yml
Due: none

chore(pipeline): add minimal required permissions (#476)
  .github/workflows/deploy-branch-storybook.yml
  .github/workflows/pipeline.yml
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  f3b45a645254e225e47e9b45e699aa14c804a340
Due: none

ci: run release workflow in separate environment
  .github/workflows/release.yml
Due: none

ci: run release workflow in separate environment (#495)
  .github/workflows/release.yml
Due: none

feat(typography): align subhead line height with updated design spec
  src/tailwind/global.css
Due: none

feat(typography): align subhead line height with updated design spec (#509)
  src/tailwind/global.css
Due: none

Notes added by 'git notes add'
  3105eba3308447fd6c6f67fb2dd30fbcd74d4ccc
Due: none

feat(inputText): align message font size with updated design spec
  src/primevue/inputText/inputText.ts
Due: lint-frontend, typecheck-frontend

feat(multiSelect): align message font size with updated design spec
  src/primevue/multiSelect/multiSelect.ts
Due: lint-frontend, typecheck-frontend

feat(select): align message font size with updated design spec
  src/primevue/select/select.ts
Due: lint-frontend, typecheck-frontend

feat(textarea): align message font size with updated design spec
  src/primevue/textarea/textarea.ts
Due: lint-frontend, typecheck-frontend

feat(inputText, multiSelect, select, textarea): align message font size with updated design spec (#510)
  src/primevue/inputText/inputText.ts
  src/primevue/multiSelect/multiSelect.ts
  src/primevue/select/select.ts
  src/primevue/textarea/textarea.ts
Due: lint-frontend, typecheck-frontend

Notes added by 'git notes add'
  07dae0e92a23b9510a44255c8bf794922e4c3746
Due: none

chore: formatting
  src/primevue/tree/tree.css
Due: none

chore: bump generated msw file
  public/mockServiceWorker.js
Due: lint-frontend

chore(deps-dev): manually bump all dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: commit generated msw file
  public/mockServiceWorker.js
Due: lint-frontend

chore: fix breaking changes in msw storybook plugin setup
  .storybook/preview.ts
Due: lint-frontend, typecheck-frontend

chore: ignore irrelevant CVE
  .trivyignore
Due: none

chore(deps-dev): manually bump all dependencies (#533)
  .storybook/preview.ts
  .trivyignore
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
  src/primevue/tree/tree.css
Due: lint-frontend, typecheck-frontend

fix: info buttons should only use regular font in small variant
  src/primevue/button/button.ts
Due: lint-frontend, typecheck-frontend

fix: info buttons should only use regular font in small variant (#532)
  src/primevue/button/button.ts
Due: lint-frontend, typecheck-frontend

Notes added by 'git notes add'
  8b55ea4cd302872a9f855396f21c2ffcd9279065
Due: none

Path conditions:
  lint-frontend: any of: *.{ts,js,vue}
  typecheck-frontend: any of: *.{ts,vue}
