Repository digitalservicebund/ris-ui: changes, and which lefthook commands are due for each by the changed paths.
All: lint-frontend, typecheck-frontend

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: pnpm dlx commitlint --edit

pre-commit:
  parallel: true
  commands:
    secrets-audit:
      run: |
        talisman --githook pre-commit ||
        (echo "Verify the content and fix it with: talisman --githook pre-commit --interactive"; exit 1)

    check-format-frontend:
      run: pnpm run --silent prettier:fix {staged_files} && git add {staged_files}

    lint-frontend:
      glob: "*.{ts,js,vue}"
      run: pnpm run --silent eslint:fix {staged_files} && git add {staged_files}

    typecheck-frontend:
      glob: "*.{ts,vue}"
      run: pnpm run --silent typecheck && git add {staged_files}

post-commit:
  commands:
    secrets-checksum-test:
      tags: security
      skip:
        - rebase
      fail_text: |
        This commit has touched files which are known to include false positives of the secret scanner.
        It does not mean you have introduced new secrets, but these are "old" reports.
        But due to the file content change, the checksum Talisman is using for the verification has changed too.
        Please double check the reported file(s) and update their checksums in the `.talismanrc` file.
        Afterwards, stage the file and amend this commit which was just created with `git commit --amend --no-edit`.
      run: |
        local_reference=$(git rev-parse --symbolic-full-name HEAD)
        local_object_name=$(git rev-parse HEAD)
        # Strong assumption that we run after the commit has been created (not before)!
        remote_reference=$(git branch --format="%(upstream)" --list $(git rev-parse --abbrev-ref HEAD))
        remote_object_name=$(git rev-parse $remote_reference)

        echo $local_reference \
          $local_object_name \
          ${remote_reference:-0000000000000000000000000000000000000000} \
          ${remote_object_name:-0000000000000000000000000000000000000000} \
          | talisman --githook pre-push

pre-push:
  parallel: true
  commands:
    licenses-audit-frontend:
      root: frontend/
      run: pnpm run audit:licenses > /dev/null;

    secrets-audit:
      run: |
        local_reference=$(git rev-parse --symbolic-full-name HEAD)
        local_object_name=$(git rev-parse HEAD)
        # Strong assumption that we run after the commit has been created (not before)!
        remote_reference=$(git branch --format="%(upstream)" --list $(git rev-parse --abbrev-ref HEAD))
        remote_object_name=$(git rev-parse $remote_reference)

        echo $local_reference \
          $local_object_name \
          ${remote_reference:-0000000000000000000000000000000000000000} \
          ${remote_object_name:-0000000000000000000000000000000000000000} \
          | talisman --githook pre-push

    check-pipeline-status:
      only:
        - ref: main
      run: |
        which gh 2>&1 >/dev/null || exit 0

        conclusion="$(
          gh run list --branch main --workflow pipeline.yml --json conclusion,status \
          --jq '[.[] | select(.status=="completed")][0].conclusion' \
        )"

        if [[ "$conclusion" != "success" ]]; then
          echo "The last completed pipeline run has failed!"
          echo "If you intend to fix the pipeline use '--no-verify', BUT ONLY IF all other hooks are okay."
          exit 1
        fi

chore(pnpm): add vue-router as dev dep
  package.json
  pnpm-lock.yaml
Due: none

chore(pnpm): add vue-router as dev dep (#421)
  package.json
  pnpm-lock.yaml
Due: none

chore: remove package lock
  package-lock.json
Due: none

chore: add pnpm-lock to prettierignore
  .prettierignore
Due: none

chore: remove package-lock and add pnpm-lock to prettierignore (#425)
  .prettierignore
  package-lock.json
Due: none

Notes added by 'git notes add'
  c3dc955c19a9e186c4014b699c6c371ac8858ead
Due: none

fix: pin @tailwindcss/postcss to 4.1.13 to preserve @utility directives
  package.json
  pnpm-lock.yaml
Due: none

fix(message): tweak message icon size and position
  src/primevue/message/message.ts
Due: lint-frontend, typecheck-frontend

fix(message): tweak message icon size and position (#427)
  src/primevue/message/message.ts
Due: lint-frontend, typecheck-frontend

fix: pin @tailwindcss/postcss to 4.1.13 to preserve @utility directives (#426)
  package.json
  pnpm-lock.yaml
Due: none

chore: update tar
  pnpm-lock.yaml
Due: none

chore: update tar (#428)
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  961561aed2a691784b033c91417fb799dff02b9e
Due: none

chore: bump trivy-action to v0.35.0
  .github/workflows/pipeline.yml
Due: none

ci: pin actions to commit hashes
  .github/actions/setup-project/action.yml
  .github/workflows/deploy-branch-storybook.yml
  .github/workflows/pipeline.yml
  .github/workflows/release.yml
Due: none

chore: bump talisman checksums
  .talismanrc
Due: none

ci: fix commit hash
  .github/workflows/pipeline.yml
  .talismanrc
Due: none

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependencies (#446)
  package.json
  pnpm-lock.yaml
Due: none

ci: pin actions to commit hashes
  .github/workflows/pipeline.yml
Due: none

ci: pin actions to commit hashes
  .github/actions/setup-project/action.yml
Due: none

chore: eslint to oxlint
  .github/workflows/pipeline.yml
  .oxlintrc.json
  .talismanrc
  README.md
  eslint.config.js
  lefthook.yml
  package.json
  src/lib/tags.ts
Due: lint-frontend, typecheck-frontend

chore: prettier to oxfmt
  .oxfmtrc.json
  .prettierignore
  README.md
  package.json
  prettier.config.js
Due: lint-frontend

chore: use tailwind vite plugin instead of postcss
  package.json
  pnpm-lock.yaml
  postcss.config.js
  vite.config.ts
Due: lint-frontend, typecheck-frontend

chore: broken autocomplete import
  src/components/RisAutoCompleteMultiple/RisAutoCompleteMultiple.vue
Due: lint-frontend, typecheck-frontend

chore: cleanup
  .oxlintrc.json
  tsconfig.json
Due: none

docs: merge codes of conduct
  CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT_DE.md
Due: none

chore: bundle CSS with esbuild for better tailwind compat
  vite.config.ts
Due: lint-frontend, typecheck-frontend

chore: pin dependencies + bump versions
  .github/actions/setup-project/action.yml
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs: clean up README
  README.md
Due: none

Notes added by 'git notes add'
  a0d8464745f433bece2941db9716793c891b76e7
Due: none

ci: fix branch deploy action
  .github/workflows/deploy-branch-storybook.yml
Due: none

fix(drawer): import extra drawer CSS such that it doesn't break compiled CSS
  .storybook/preview.ts
  src/tailwind/components-extra/drawer.css
  src/tailwind/global.css
  src/tailwind/index.ts
Due: lint-frontend, typecheck-frontend

feat(drawer): add styling for drawer component
  src/primevue/drawer/drawer.stories.ts
  src/primevue/drawer/drawer.ts
  src/primevue/index.ts
  src/tailwind/components-extra/drawer.css
  src/tailwind/global.css
Due: lint-frontend, typecheck-frontend

Notes added by 'git notes add'
  f7b2f0fe94976293ed83377fe7248dc90d6d6921
Due: none

chore: fix CSS order in storybook preview
  .storybook/preview.ts
Due: lint-frontend, typecheck-frontend

fix(drawer): align shadow colors with design spec
  src/primevue/drawer/drawer.ts
  src/tailwind/components-extra/drawer.css
Due: lint-frontend, typecheck-frontend
